.body{
  background-color: #e9ebe3;
}
.logo{
  width: 5%;
  padding: 0;
  float: left;
}
.navbar{
  width: 100%;
  background-color: #ffbf2a;
  overflow: hidden;
  
}
.navbar h1{
  float: left;
  position: relative; 
	top: 20px;
  left: 10px;
}
.navbar a{
  float: right;
  display: inline-block;
  font-size: 150%;
  text-align: center;
  padding: 30px 6%;
  text-decoration: none;
}
.navbar a:hover{
  background-color: #83B0CA;
}
* {
  margin: 0;
  padding: 0;
}

.column {
  text-align: center;
  float: left;
  width: 33.33%;
  height: 30%;
  padding-bottom: 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.icon{
	width: 90%;
  height:90%;
  margin: auto;
  text-align: center;
  display: block;
}
.iconCircle{
	width: 90%;
  height:90%;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
  display: block;
}
.section_about{
  width: 75%;
  background-color: #d1faff;
  font-size: 200%;
  padding: 2%;
  margin: 12%;
}
.download-button{
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  padding: 20px;
  margin-bottom: 60px;
  border-radius: 20px;
  border: black;
  background-color: #FFBF2A;
}
.download-link{
  font-size: 400%;
  text-align: center;
  color: black;
  text-decoration: none;
}
.download-button:hover{
  border: 3px solid black;
}
.footer{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 70px;
  background-color: #05668D;
  font-color: white;
}
.footer-text{
  font-color: white;
}

.active {
  background-color: #717171;
}
.slideshow{
  height: 60%;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.checkboxes{
  font-size: 250%;
}
.title{
  font-size: 500%;
  background-color: #d1faff;
  padding: 8%;
  text-align: center;
}